<div class="container row m-auto">
    <h1 class="col-12 text-center py-3 titulo">Portal de Temas Músicales</h1>

    <!--CARDS-->
    <section class="col-sm-6 col-md-8 p-2">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
            <div class="col" *ngFor="let t of tracks">
                <div class="card h-100">
                    <img src="{{t.cover}}" class="card-img-top" alt="Track 01">
                    <div class="card-body">
                        <a href="#" class="text-decoration-none text-reset">
                            <h5 class="card-title"><span class="text-danger">{{t.contributors}}</span><br>{{t.title}}</h5>
                        </a>
                        <span class="card-text">{{t.album}}</span>
                        <br><br>
                        <audio class="col-12 mx-auto" controls>
                            <source src="{{t.preview}}" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--ASIDE-->
    <aside class="col-sm-6 col-md-4 pt-2">
        <div class="row">
            <img src="../../../assets/publicidad01.png" class="img-fluid" alt="Publicidad">
        </div>
    </aside>
</div>
<br><br><br><br>