<!--CONTENIDO PINCIPAL-->
<div class="container row m-auto">
    <h1 class="col-12 text-center py-3 titulo">Los signos del Zodiaco</h1>

    <!--PRIMERA SECCION-->

    <div class="col-md-4 col-xs-6 col-6 pt-3" *ngFor="let s of signos">
        <div class="d-flex justify-content-around">
            <div class="container-sm pt-2">
                <button class="btn btn-primary col-12 d-flex justify-content-center my-auto py-auto" (click)="getHoroscopo(s)">
                    <div class="col-3">
                        <img src="../../../assets/{{s}}-1.png" class="mt-1" width="65" height="65" alt="">
                    </div>
                    <h5 class="col-5 my-auto">{{s}}</h5>
                </button>
            </div>
        </div>
    </div>

    <!--SEGUNDA SECCION-->

    <section class="mt-5" *ngIf="mostrar">
        <div class="card mb-12 cuerpo-Card">
            <div class="card mb-12 border-info cuerpo-Card" style="background-color: rgba(128, 200, 176, 0.39);">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="m-md-3">
                            <img src="../../../assets/{{signo}}.png" width="30" height="100" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{signo}}</h5>
                            <p class="card-text">{{horoscopo.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
</div>
<br><br><br><br>